<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @delivery.time %>
</p>

<p>
  <strong>Store:</strong>
  <%= @delivery.store %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
