<p id="notice"><%= notice %></p>

<h1><%= @delivery.name %></h1>
<h3><%= @delivery.store %></h3>


<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
<br>

<p>
  <strong>Time:</strong>
  <%= @delivery.time %>
</p>
<br>
<%= tag.div id: :orders, data: { orders: @orders.to_json() } %>
<br>

<%= render 'new_order', order: @delivery %>
