<p id="notice"><%= notice %></p>

<h1><%= @order.user.first_name %>'s Order:</h1>

<h3>Description: <%= @order.description %></h3>

<h3>Delivered to: <%= @order.location.address %></h3>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<%= tag.div id: :order, data: { order: @order.to_json() } %>
