<p id="notice"><%= notice %></p>

<h1><%= @location.name %></h1>
<h3><%= @location.address %> </h3>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<br>

<%= tag.div id: :location, data: { deliveries: @deliveries.to_json() } %>

<br>

<%= render 'new_delivery', delivery: @location %>
