<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @title %>
        <%= "#{@title.titleize}"%>
      <% else %>
        <%= "Dyna" %>
      <% end %>
     </title>
    <%= favicon_link_tag asset_path("earth-icon.png") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= render partial: "layouts/top_bar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
